endpoints:
  - name: swagger
    url: http://localhost:8080/swagger
    method: GET
    header:
      SOME-HEADER: SOME-VALUE
    timeout: 0.01
    expectation:
      - type: HTTP_STATUS
        status_range: 200-300
        incident: MAJOR
      - type: LATENCY
        threshold: 1
      - type: REGEX
        regex: '.*(<body).*'
    allowed_fails: 0
    frequency: 30
    component_id: 1
    metric_id: 1
    action:
      - CREATE_INCIDENT
      - UPDATE_STATUS
    public_incidents: true
    latency_unit: ms
cachet:
  api_url: https://demo.cachethq.io/api/v1
  token:
    - type: ENVIRONMENT_VARIABLE
      value: CACHET_TOKEN
    - type: TOKEN
      value: my_token
