# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      # use `-browsers` prefix for selenium tests, e.g. `3.6.1-browsers`
      - image: circleci/python:3.7.2

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "dev_requirements.txt" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            sudo pip3 install virtualenv
            virtualenv venv
            source venv/bin/activate
            pip3 install -r dev_requirements.txt
            pip3 install -r requirements.txt
            pip3 install coveralls
            pip3 install tox

      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "dev_requirements.txt" }}

      - run:
          name: run tests
          command: |
            tox -e circle

      - store_test_results:
          path: test-reports

      - store_artifacts:
          path: test-reports
          destination: test-reports
